@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
html, body {
    display: table;
    width: 100%;
    height: 100%;
}
#content{
    display: table-cell;
    vertical-align: middle;
}
#calculator {
    border: solid black 1px;
    margin: 8px auto;
    width: 220px;
    border-radius: 4px;
}
#visor{
    width: 188px;
    height: 70px;
    font-size: 20px;
    text-align: right;
    border-radius: 4px;
    color:  rgb(62, 62, 63);
    padding-left: 5px;
    margin: 8px auto;
    margin-top: 14px;
    background-color: whitesmoke;
    font-size: 24px;
    overflow: hidden;
}

.calc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 300px;
    width: 200px;
    border-radius: 2px;
    margin: 8px auto;
}

.calc button {
    background-color: whitesmoke;
    border: solid white 1px;
    border-radius: 4px;
    color: rgb(62, 62, 63);
    margin: 5px;
    font-weight: bolder;
    font-size: 16px;
}

.calc .operation{
    background-color: rgba(172, 172, 172, 0.637);
    color: white;
}

.calc button:hover{
    background-color: #017bfc;
    color: white;
}

.calc .equal {
    background-color: #017bfc;
}